.seller-search {
  display:flex;
  flex-direction: column;
  width: 350px;
  align-items: flex-start;
  padding: 20px;
}
.seller-search .seller-filter {
  display:flex;
  flex-direction: row;
  /* padding: 0 0 20px 20px; */
}

.seller-table {
  margin: 0 20px;
}

.btn-filter {
  margin-left: 5px;
}

/* .seller-search .btn-email {
  width: 400px;
  margin-right: 5px;
  padding-bottom: 0;
  background-color: white;
  color: rgb(91, 181, 233);
  border: none;
} */